/* Font */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #f4dcb4;
}

h1 {
    font-size: 3rem;
}

.title {
    color: white;
    font-size: 4rem;
}

.small-text {
    font-size: 0.8rem;
}

/* Structure */

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: #4e4e4e;
}

#cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 25px solid #3d3d3d;
    border-radius: 1rem;
}

#tooltip {
    padding-top: 1rem;
    opacity: 0;
    transition: 2s;
}

#tag {
    position: absolute;
    bottom: 0.7rem;
}

.header {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}

/* Board tiles */

.light {
    background-color: #f4dcb4;
}

.dark {
    background-color: #b48c64;
}

.light:hover {
    background-color: #fce6c0;
}

.dark:hover {
    background-color: #c4986d;
}

.square {
    width: auto;
    height: auto;
    transition: all .2s ease-in-out;
}

.square:hover {
    transform: scale(1.06);
}

.start {
    background-color: rgb(61, 99, 54);
}